header{
    position: absolute;
    top: 0;
    left: 0;
}
footer {
    background-color: black;
    clear: both;
    margin-top: 1300px;
    width: 100%;
    height: 500px;
}
.tz{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 24px;
    color: #a0a0a0;   
    position: absolute;
    top: 120px;
    left: 100px;
}
.c{
    position: absolute;
    top: 0;
    word-spacing: 0;
}
.end2 {
    color: yellow;
    position: absolute;
    top: 1350px;
    left: 500px;
}
.en{
    margin-top: 0px;
    position: relative;
    top: 100px;
}
.end3 {
    position: absolute;
    color: white;
    left: 500px;
    top: 1400px;
}

.end4 {
    color: yellow;
    position: absolute;
    top: 1350px;
    left: 800px;
}

.end5 {
    color: yellow;
    position: absolute;
    top: 1350px;
    left: 1100px;
}
.end1 {
    padding-left: 50px;
    color: yellow;
    position: absolute;
    top: 1350px;
}
.end6 {
    position: absolute;
    color: white;
    left: 800px;
    top: 1400px;
}
.end7 {
    position: absolute;
    color: white;
    left: 1100px;
    top: 1400px;
}
.ak{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    position: absolute;
    top: 150px;
    left: 100px;
    color: #29292f;
    line-height: 51px;
    font-weight: 700;
}
.ct{
    height: 942px;
    width: 1140px;
    display: block;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none solid rgb(62, 62, 68);
    word-spacing: 0px;
    position: absolute;
    top: 250px;
    left: 100px;
    
}
.td{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    height: auto;
    width: auto;
    
    color: #29292f;
}