.ass{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none solid rgb(41, 41, 47);
    word-spacing: 0px;
    height: 140px;
    width: 555px;
    position: absolute;
    top: 250px;
    left: 100px;
    


   
}

.vcl{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    top: 400px;
    left: 100px;
    color: #29292f;
    line-height: 51px;
    font-weight: 700;
}
.ik{
    font-family: Arial, Helvetica, sans-serif;
    color: #29292f;
    position: absolute;
    top: 450px;
    left: 100px;
}
.jj{margin-left: 100px;}

.vl{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    top: 490px;
    left: 100px;
    color: #29292f;
    line-height: 51px;
    font-weight: 700;
}
.llj{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none solid rgb(62, 62, 68);
    word-spacing: 0px;
    height: 195px;
    width: 585px;
  
    display: block;
    position: absolute;
    top: 200px;
    left: 800px;

}
.vl2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    left: 500px;
    color: #29292f;
    line-height: 51px;
    font-weight: 700;
}
form{
    position: absolute;
    left: 100px;
    top: 550px;
}
.qw{
    font-size: 13px;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 100px;
    top: 1100px;
    background-color: #ff5614;
    height: 40px;
    width: 60px;
    text-align: center;
    text-transform: uppercase;
    white-space: pre;
    color: #ffffff;
    display: block;
}
